.flag {
    width: 50px;
    height: auto;
    vertical-align: middle;
    border: 1px solid black;
}

.kge {
    width: 300px;
    height: auto;
    vertical-align: middle;
    border: 10px solid white;
    border-radius: 10px;
}