body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('backgrounds/background2.webp');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
}

body::after {
    content: '';
    position: fixed;
    top: 287px; 
    right: 0;
    width: 400px;
    height: 100%;
    background-image: url('logo/pl5.webp');
    background-size: contain;
    background-repeat: no-repeat;
}

.logo {
    position: absolute;
    right: 5px;
    top: 0; 
    height: 120px;
}


header {
    background-color: #0073e6;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.intro-text {
    flex-grow: 1;
}

.date-time {
    flex-basis: 200px; /* Adjust this value as necessary */
    text-align: right;
}

section {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #0073e6;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.musala-images img {
    display: block; /* Sprawia, że obrazek jest traktowany jak blok, co umożliwia centrowanie */
    margin: 0 auto; /* Centruje obrazek w poziomie */
    max-width: 50%; /* Maksymalna szerokość obrazka to 80% jego oryginalnej szerokości */
    height: auto; /* Wysokość jest automatycznie dostosowywana, aby zachować proporcje */
}